<!DOCTYPE html>
<html>
<head>
  <title>PlexRequests - Settings</title>
</head>
<body>
 <form action="{{ request.path }}" method="post">
   <div>Plex Token<input type="text" name="plex_token" value="{{ settings.plex_token }}"/></div>
   <div><input type="submit" value="Save"/></div>
   {% module xsrf_form_html() %}
 </form>
</body>
