<!DOCTYPE html>
<html>
<head>
  <title>PlexRequests - Login</title>
</head>
<body>
 <form action="{{ request.path }}" method="post">
   <div>{{ _("Username") }} <input type="text" name="username"/></div>
   <div>{{ _("Password") }} <input type="password" name="password"/></div>
   <div><input type="submit" value="{{ _("Sign in") }}"/></div>
   {% module xsrf_form_html() %}
 </form>
</body>
